name: CI

on:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '7.3', '7.4', '8.0']
        strategy: [ 'highest' ]
        sf_version: ['']
        include:
            - php: 7.4
              strategy: 'lowest'
            - php: 7.3
              sf_version: '4.*'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Download dependencies
        uses: ramsey/composer-install@v1
        env:
            SYMFONY_REQUIRE: ${{ matrix.sf_version }}
        with:
          dependency-versions: ${{ matrix.strategy }}
          composer-options: --no-interaction --prefer-dist --optimize-autoloader

      - name: Run tests
        run: ./vendor/bin/phpunit
